* {
    margin: 0;
    padding: 0;
}

.button-container {
    position: relative;
    width: 100px;
    height: 100px;
}

.circle-button {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.half-circle {
    width: 50px;
    height: 100px;
    background-color: #e74c3c;
    border-radius: 50px 50px 0 0;
    position: absolute;
    transition: transform 0.5s;
}

.circle-inner {
    left: 0;
    transform-origin: 100% 50%;
}

.circle-outer {
    right: 0;
    transform-origin: 0 50%;
}